<div class="footer">
    <div class="float-right">
    </div>
    <div>
        <strong>© Yeşilvadi Metalurji</strong> Tüm hakları saklıdır. | Design by
        <a href="https://www.linkedin.com/in/melih-dursun-523b26271/">melh</a>
    </div>
</div>