<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Paneli</title>

    <link href="~/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a href="/AdminPageTest/Index" data-toggle="dropdown" class="dropdown-toggle">
                                <span class="block m-t-xs font-bold">Admin Paneli</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="/AdminPageTest/Index"><i class="fa fa-user"></i> <span class="nav-label">Şifre Değiştir</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Index"><i class="fa fa-user"></i> <span class="nav-label">Adminler</span></a>
                    </li>
                    <li>
                        <a href="/CategoryTest/Index"><i class="fa fa-th-large"></i> <span class="nav-label">Kategoriler</span></a>
                    </li>
                    <li>
                        <a href="/ImageTest/Index"><i class="fa fa-paint-brush"></i> <span class="nav-label">Resimler</span></a>
                    </li>
                    <li>
                        <a href="/ProductTest/Index"><i class="fa fa-diamond"></i> <span class="nav-label">Ürünler</span></a>
                    </li>

                    <li>
                        <a href="/OfferTest/Index"><i class="fa fa-envelope"></i> <span class="nav-label">Teklifler</span></a>
                    </li>
                    <li>
                        <a href="/OrderTest/Index"><i class="fa fa-pie-chart"></i> <span class="nav-label">Siparişler</span>  </a>
                    </li>
                    <li>
                        <a href="/ProductionTest/Index"><i class="fa fa-flask"></i> <span class="nav-label">Üretimler</span></a>
                    </li>
                    <li>
                        <a href="/HomePageTest/Index"><i class="fa fa-paint-brush"></i> <span class="nav-label">Ana Sayfa</span></a>
                    </li>
                    <li>
                        <a href="/AboutPageTest/Index"><i class="fa fa-paint-brush"></i> <span class="nav-label">Hakkımızda</span></a>
                    </li>
                    <li>
                        <a href="/ContactPageTest/Index"><i class="fa fa-paint-brush"></i> <span class="nav-label">İletişim</span></a>
                    </li>
                    <li>
                        <a href="/UrunlerPageTest/Index"><i class="fa fa-paint-brush"></i> <span class="nav-label">Ürünler Sayfası</span></a>
                    </li>
                    <li>
                        <a href="/FooterTest/Index"><i class="fa fa-paint-brush"></i> <span class="nav-label">Footer</span></a>
                    </li>
                    <li>
                        <a href="/LinkTest/Index"><i class="fa fa-paint-brush"></i> <span class="nav-label">Bağlantılar</span></a>
                    </li>

                    <li>
                        <a href="/Login/Logout"><i class="fa fa-window-close"></i> <span class="nav-label">Çıkış Yap</span></a>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">

            @await Html.PartialAsync("_AdminPartialTwo")
            <div class="wrapper wrapper-content animated fadeInRight">
                @RenderBody()
            </div>
            <div class="footer">
                <div class="float-right">
                </div>
                <div>
                    <strong>Copyright</strong> Yeşilvadi Metalurji &copy;
                </div>
            </div>
            @await Html.PartialAsync("_AdminPartial")

        </div>
    </div>



    <script src="~/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>
    <script src="~/inspinia-gh-pages/js/popper.min.js"></script>
    <script src="~/inspinia-gh-pages/js/bootstrap.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="~/inspinia-gh-pages/js/plugins/peity/jquery.peity.min.js"></script>

    <script src="~/inspinia-gh-pages/js/inspinia.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/pace/pace.min.js"></script>

    <script src="~/inspinia-gh-pages/js/plugins/iCheck/icheck.min.js"></script>

    <script src="~/inspinia-gh-pages/js/demo/peity-demo.js"></script>

    <link rel="stylesheet" href="~/lib/izitoast/css/iziToast.min.css">
    <link rel="stylesheet" href="~/lib/jquery-confirm/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

    @await Html.PartialAsync("_ScriptImports")
</body>

</html>

@if (IsSectionDefined("scripts"))
{
    @RenderSection("scripts", required: false)
}