
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Yeşilvadi Metalurji Nedir?</h3>
                <p>Yazı gelecek..</p>
                <div class="read">
                    <a href="/About/Index" class="btn btn-primary read-m">Devamını Oku</a>
                </div>
            </div>
        </div>
        <div class="footer-cpy text-center">
            <div class="footer-social">
                @*<div class="copyrighttop">
                        <ul>
                            <li class="mx-3">
                                <a class="facebook" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </li>
                            <li class="mx-3">
                                <a class="facebook" href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                    <span>Google+</span>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                    <span>Pinterest</span>
                                </a>
                            </li>
                        </ul>

                    </div>*@
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © 2023 Yeşilvadi Metalurji. Tüm hakları saklıdır.
                </p>

            </div>
        </div>

    </div>
</footer>
