
<footer>
    <div class="container">
        <div class="row">

            <p>@await Component.InvokeAsync("FooterContent")</p>

            @await Component.InvokeAsync("Last3Products")

            @await Component.InvokeAsync("Suggestion") 
        </div>
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                        <ul>
                            <li class="mx-3">
                                <a class="facebook" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </li>
                            <li class="mx-3">
                                <a class="facebook" href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                    <span>Google+</span>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                    <span>Pinterest</span>
                                </a>
                            </li>
                        </ul>

                    </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © 2023 Yeşilvadi Metalurji. Tüm hakları saklıdır. | Design by
                    <a href="https://www.linkedin.com/in/melih-dursun-523b26271/">melh</a>
                </p>

            </div>
        </div>

    </div>
</footer>
