
<footer>
    <div class="container">
        <div class="row">

            <p>@await Component.InvokeAsync("FooterContent")</p>

            @await Component.InvokeAsync("Last3Products")

            @await Component.InvokeAsync("Suggestion")
        </div>

        @await Component.InvokeAsync("Link")

    </div>
</footer>
