@using Entity.Concrete
@using Yesil_Vadi_Metalurji.Dto
@using System.ComponentModel
@using Newtonsoft.Json
@model AboutViewModel
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="icon" href="~/Resimler/favicon.png" type="image/x-icon" />
    <link href="~/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/web/css/jquery.desoslide.css">
    <link href="~/web/css/styleurun.css" rel='stylesheet' type='text/css' />
    <link href="~/web/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">

    <script src="~/web/js/jquery.flexisel.js"></script>
    <script src="~/web/js/move-top.js"></script>
    <script src="~/web/js/easing.js"></script>
    <script src="~/web/js/jquery.desoslide.js"></script>
    <script src="~/web/js/bootstrap.js"></script>

</head>
<body>
    @await Component.InvokeAsync("Header")



    @foreach (var about in Model.About)
    {
        if (about.Status == (AboutStatuses)1)
        {
            if (about.Banner == true)
            {
                @await Html.PartialAsync("_BannerPartial")
                <br />
            }
            <center><h3 class="tittle">@about.Title</h3></center>
            @if (about.SubtitleStatus != false)
            {
                <center><h4>@about.Subtitle</h4></center>
            }
            <hr />
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            @if (about.ContentStatus != false)
                            {
                                string description = about.Content;
                                int maxLineLength = 128;
                                List<string> descriptionLines = new List<string>();

                                for (int i = 0; i < description.Length; i += maxLineLength)
                                {
                                    int remainingLength = Math.Min(maxLineLength, description.Length - i);
                                    descriptionLines.Add(description.Substring(i, remainingLength));
                                }
                                <center>
                                    @foreach (string line in descriptionLines)
                                    {
                                        @Html.Raw(line)<br />
                                    }
                                </center>
                                <hr />
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (about.Image == true)
            {
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

                        @if (!string.IsNullOrEmpty(about.ImageUrl2))
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl3))
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl4))
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl5))
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl6))
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl7))
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl8))
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl9))
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl10))
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                        }
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@about.ImageUrl1');">
                            <div class="carousel-caption">
                            </div>
                            <img src="~/Resimler/@about.ImageUrl1" class="d-block w-100" alt="about Image">
                        </div>
                        @if (!string.IsNullOrEmpty(about.ImageUrl2))
                        {
                            <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@about.ImageUrl2');">
                                <div class="carousel-caption">
                                </div>
                                <img src="~/Resimler/@about.ImageUrl2" class="d-block w-100" alt="about Image">
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl3))
                        {
                            <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@about.ImageUrl3');">
                                <div class="carousel-caption">
                                </div>
                                <img src="~/Resimler/@about.ImageUrl3" class="d-block w-100" alt="about Image">
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl4))
                        {
                            <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@about.ImageUrl4');">
                                <div class="carousel-caption">
                                </div>
                                <img src="~/Resimler/@about.ImageUrl4" class="d-block w-100" alt="about Image">
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl5))
                        {
                            <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@about.ImageUrl5');">
                                <div class="carousel-caption">
                                </div>
                                <img src="~/Resimler/@about.ImageUrl5" class="d-block w-100" alt="about Image">
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl6))
                        {
                            <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@about.ImageUrl6');">
                                <div class="carousel-caption">
                                </div>
                                <img src="~/Resimler/@about.ImageUrl6" class="d-block w-100" alt="about Image">
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl7))
                        {
                            <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@about.ImageUrl7');">
                                <div class="carousel-caption">
                                </div>
                                <img src="~/Resimler/@about.ImageUrl7" class="d-block w-100" alt="about Image">
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl8))
                        {
                            <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@about.ImageUrl8');">
                                <div class="carousel-caption">
                                </div>
                                <img src="~/Resimler/@about.ImageUrl8" class="d-block w-100" alt="about Image">
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl9))
                        {
                            <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@about.ImageUrl9');">
                                <div class="carousel-caption">
                                </div>
                                <img src="~/Resimler/@about.ImageUrl9" class="d-block w-100" alt="about Image">
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(about.ImageUrl10))
                        {
                            <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@about.ImageUrl10');">
                                <div class="carousel-caption">
                                </div>
                                <img src="~/Resimler/@about.ImageUrl10" class="d-block w-100" alt="about Image">
                            </div>
                        }
                    </div>



                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Önceki</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Sonraki</span>
                    </a>
                </div>
            }
        }
        else
        {
            <center><h1>DÜZENLEMEDE</h1></center>
        }


    }


    @await Html.PartialAsync("_FooterPartial")


    <script>
        $('#demo1_thumbs').desoSlide({
            main: {
                container: '#demo1_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
        $(window).load(function () {
            $("#flexiselDemo2").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });

        $(document).ready(function () {

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };

        });



                                    });
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

</body>



</html>