@using Entity.Concrete
@using Yesil_Vadi_Metalurji.Dto
@using System.ComponentModel
@using Newtonsoft.Json
@model ProductsViewModel

@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_ScriptImports")
@foreach (var urunler in Model.Urunlers)
{
        <center><h1>DÜZENLEMEDE</h1></center>
}