@using Entity.Concrete
@model FooterEditViewModel
@{
    ViewData["Title"] = "Footer";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<form method="post" action="/Footer/Update" id="updateForm">
    @foreach (var footer in Model.Footer)
    {
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-pencil-alt"></i>
                    Düzenle
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <input type="text" name="ID" value="@footer.ID" hidden />

                    <div class="col-sm-3">
                        <h2>Son 3 Ürün:</h2>
                        <select name="LastPosts" class="form-control" required="required">
                            @if (footer.LastPosts == true)
                            {
                                <option value="1" selected>AKTİF</option>
                                <option value="2">AKTİF DEĞİL</option>
                            }
                            else
                            {
                                <option value="1">AKTİF</option>
                                <option value="2" selected>AKTİF DEĞİL</option>
                            }
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <h2>Öneri ve Şikayetler:</h2>
                        <select name="Suggestion" class="form-control" required="required">
                            @if (footer.Suggestion == true)
                            {
                                <option value="1" selected>AKTİF</option>
                                <option value="2">AKTİF DEĞİL</option>
                            }
                            else
                            {
                                <option value="1">AKTİF</option>
                                <option value="2" selected>AKTİF DEĞİL</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-3">
                        <h2>Başlık:</h2>
                        <input type="text" name="Title" value="@footer.Title" class="form-control" maxlength="26" required />
                    </div>

                    <div class="col-md-12">
                        <h2>İçerik:</h2>
                        <textarea id="contentEditor" name="Content" rows="7" class="form-control col-sm-12" required>@footer.Content</textarea>
                        <p><span id="charCount">0</span>/300 karakter</p>
                    </div>


                    <div class="col-md-9">
                        <h2>Alt Yazı:</h2>
                        <input type="text" name="Last" value="@footer.Last" class="form-control col-sm-9" maxlength="50" />
                    </div>


                    <div class="col-sm-3">
                        <h2>Alt Yazı Durumu:</h2>
                        <select name="LastBool" class="form-control" required="required">
                            @if (footer.LastBool == true)
                            {
                                <option value="1" selected>AKTİF</option>
                                <option value="2">AKTİF DEĞİL</option>
                            }
                            else
                            {
                                <option value="1">AKTİF</option>
                                <option value="2" selected>AKTİF DEĞİL</option>
                            }
                        </select>
                    </div>
                    <br />
                    <br />

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Güncelle</button>
                </div>
            </div>
        </div>
    }


</form>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Onay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu değişiklikleri kaydetmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="submit" form="updateForm" class="btn btn-primary">Evet, Kaydet</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script src="path/to/customplugin.js"></script>
<script>
    CKEDITOR.plugins.add('customplugin', {
        init: function (editor) {
            editor.on('key', function (evt) {
                if (evt.data.keyCode === 13) {
                    evt.cancel();
                }
            });
        }
    });

    CKEDITOR.replace('contentEditor', {
        removePlugins: 'autogrow',
        enterMode: CKEDITOR.ENTER_BR,
        shiftEnterMode: CKEDITOR.ENTER_BR,
        extraPlugins: 'customplugin',
        on: {
            instanceReady: function (ev) {
                ev.editor.on('change', function () {
                    var content = ev.editor.getData();
                    var charCount = content.length;
                    document.getElementById('charCount').textContent = charCount;

                    var submitButton = document.querySelector('button[type="submit"]');
                    if (charCount > 300) {
                        submitButton.disabled = true;
                    } else {
                        submitButton.disabled = false;
                    }
                });
            }
        }
    });
</script>
