@using Entity.Concrete
@model FooterSuggestionModel

@foreach (var footer in Model.Footer)
{
    if (footer.Suggestion == true)
    {
        <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
            <h2>Öneri ve görüşleriniz:</h2>
            <div class="subscribe-main text-left">
                <style>
                    .form-control {
                        width: 100%;
                    }

                    textarea.form-control {
                        resize: vertical;
                    }
                </style>
                <div class="subscribe-form">
                    <form method="post" action="/Suggestions/Add" class="subscribe_form" id="addForm">
                        <input class="form-control" type="email" name="Mail" placeholder="E-Mail Adresiniz" required="">
                        <br />
                        <textarea class="form-control" name="Content" placeholder="Öneri ve Görüşleriniz" rows="3" maxlength="500" required=""></textarea>
                        <br />
                        <span id="charCount">0 / 500</span><br />
                        <button type="submit" class="btn btn-primary submit">Gönder</button>
                    </form>
                    <div class="clearfix"> </div>
                </div>
                <p>Görüşleriniz bizim için değerlidir!</p>
            </div>
        </div>

    }
    else
    {

        <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
            <div class="subscribe-main text-left">
                <div class="subscribe-form">
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>

    }
}
<script>
    $(document).ready(function () {
        var contentTextarea = $("textarea[name='Content']");
        var charCountSpan = $("#charCount");

        contentTextarea.on("input", function () {
            var charCount = contentTextarea.val().length;
            charCountSpan.text(charCount + " / 500");

            if (charCount > 500) {
                charCountSpan.css("color", "red");
            } else {
                charCountSpan.css("color", "");
            }
        });
    });

    $(document).on('submit', 'form', function (e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: form.serialize(),
            success: function (response) {
                var message = response;
                alert(message);
            },
            error: function (error) {
                alert("Başarısız");
            }
        });

    });


</script>