@using Entity.Concrete
@using Yesil_Vadi_Metalurji.Dto
@using System.ComponentModel
@using Newtonsoft.Json
@model List<HomePage>
@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html lang="tr">

<body>


    <h3 class="tittle"></h3>
    <h4 class="tittle"></h4>
</body>

</html>
